In [1]:
import pandas as pd
import numpy as np

import dew_gwdata as gd

In [2]:
db = gd.sageodata()

In [3]:
db.chem_codes()

      chem_code                        chem_name
0       2_4_5_T                        2,4,5 - T
1         2_4_D  2,4-dichlorophenoxyacetic acid)
2         204Pb                            204Pb
3         206Pb                            206Pb
4    206Pb/238U                       206Pb/238U
..          ...                              ...
398   Ra226_223        Ra226 Ra223 isotope ratio
399   Ra226_224        Ra226 Ra224 isotope ratio
400       RADBK   Radiometric Background reading
401       RADTC  Radiometric Total Count reading
402          Rd                           Radium

[403 rows x 2 columns]

In [4]:
import logging

logging.basicConfig(level=logging.DEBUG)

In [8]:
db.wells_in_groups(["BAROSSA"]).dh_no

0       49122
1       49125
2       49131
3       49824
4       51757
        ...
310    202606
311    215222
312    215223
313    215224
314    215225
Name: dh_no, Length: 315, dtype: int64

In [9]:
df = db.sample_analyses_by_drillholes(db.wells_in_groups(["LLC_STH"]).dh_no)

,well_id,dh_no,unit_long,unit_hyphen,obs_no,dh_name,easting,northing,zone,latitude,...,digestion,determination,lower_dl_ppm,upper_dl_ppm,precision_ppm,microanalysis_no,created_by,creation_date,modified_by,modified_date
0,LKG013,78622,682300051,6823-51,LKG013,None,406011.67,5864629.85,54,-37.360291,...,None,None,None,None,None,None,DHDB,1994-09-23 19:29:16,GALDS,2001-11-21 17:15:04
1,LKG013,78622,682300051,6823-51,LKG013,None,406011.67,5864629.85,54,-37.360291,...,None,None,None,None,None,None,DHDB,1994-09-23 19:29:17,GALDS,2001-11-21 17:08:39
2,LKG013,78622,682300051,6823-51,LKG013,None,406011.67,5864629.85,54,-37.360291,...,None,None,None,None,None,None,DHDB,1994-09-23 19:29:17,GALDS,2001-11-22 10:38:04
3,LKG013,78622,682300051,6823-51,LKG013,None,406011.67,5864629.85,54,-37.360291,...,None,None,None,None,None,None,DHDB,1994-09-23 19:29:17,GALDS,2001-11-21 17:06:06
4,LKG013,78622,682300051,6823-51,LKG013,None,406011.67,5864629.85,54,-37.360291,...,None,None,None,None,None,None,DHDB,1994-09-23 19:29:17,GALDS,2001-11-21 17:20:43
5,LKG013,78622,682300051,6823-51,LKG013,None,406011.67,5864629.85,54,-37.360291,...,None,None,None,None,None,None,DHDB,1994-09-23 19:29:17,GALDS,2001-11-21 17:17:20
6,LKG013,78622,682300051,6823-51,LKG013,None,406011.67,5864629.85,54,-37.360291,...,None,None,None,None,None,None,DHDB,1994-09-23 19:29:17,GALDS,2001-11-21 17:19:13
7,LKG013,78622,682300051,6823-51,LKG013,None,406011.67,5864629.85,54,-37.360291,...,None,None,None,None,None,None,DHDB,1994-09-23 19:29:17,GALDS,2001-11-21 17:07:13
8,LKG013,78622,682300051,6823-51,LKG013,None,406011.67,5864629.85,54,-37.360291,...,None,None,None,None,None,None,DHDB,1994-09-23 19:29:17,GALDS,2001-11-22 10:41:00
9,KON014,88304,692200048,6922-48,KON014,None,448231.26,5803536.93,54,-37.914238,...,None,None,None,None,None,None,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
10,KON014,88304,692200048,6922-48,KON014,None,448231.26,5803536.93,54,-37.914238,...,None,None,None,None,None,None,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
11,KON014,88304,692200048,6922-48,KON014,None,448231.26,5803536.93,54,-37.914238,...,None,None,None,None,None,None,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
12,KON014,88304,692200048,6922-48,KON014,None,448231.26,5803536.93,54,-37.914238,...,None,None,None,None,None,None,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
13,KON014,88304,692200048,6922-48,KON014,None,448231.26,5803536.93,54,-37.914238,...,None,None,None,None,None,None,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
14,KON014,88304,692200048,6922-48,KON014,None,448231.26,5803536.93,54,-37.914238,...,None,None,None,None,None,None,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
15,KON014,88304,692200048,6922-48,KON014,None,448231.26,5803536.93,54,-37.914238,...,None,None,None,None,None,None,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
16,KON014,88304,692200048,6922-48,KON014,None,448231.26,5803536.93,54,-37.914238,...,None,None,None,None,None,None,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
17,KON014,88304,692200048,6922-48,KON014,None,448231.26,5803536.93,54,-37.914238,...,None,None,None,None,None,None,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
18,KON014,88304,692200048,6922-48,KON014,None,448231.26,5803536.93,54,-37.914238,...,None,None,None,None,None,None,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
19,KON014,88304,692200048,6922-48,KON014,None,448231.26,5803536.93,54,-37.914238,...,None,None,None,None,None,None,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
20,KON014,88304,692200048,6922-48,KON014,None,448231.26,5803536.93,54,-37.914238,...,None,None,None,None,None,None,GAJLA,2009-04-16 15:59:20,None,NaT
21,KON012,88305,692200049,6922-49,KON012,None,448364.32,5803638.97,54,-37.913326,...,None,None,None,None,None,None,OPS$HAAAU,1996-06-04 10:22:37,GALDS,2001-11-21 17:15:47
22,KON012,88305,692200049,6922-49,KON012,None,448364.32,5803638.97,54,-37.913326,...,None,None,None,None,None,None,OPS$HAAAU,1996-06-04 10:22:38,GALDS,2001-11-21 17:17:57
23,KON012,88305,692200049,6922-49,KON012,None,448364.32,5803638.97,54,-37.913326,...,None,None,None,None,None,None,OPS$HAAAU,1996-06-04 10:22:38,GALDS,2001-11-21 17:19:49
24,KON012,88305,692200049,6922-49,KON012,None,448364.32,5803638.97,54,-37.913326,...,None,None,None,None,None,None,OPS$HAAAU,1996-06-04 10:22:38,GALDS,2001-11-21 17:21:00
25,KON012,88305,692200049,6922-49,KON012,None,448364.32,5803638.97,54,-37.913326,...,None,None,None,None,None,None,OPS$HAAAU,1996-06-04 10:22:38,GALDS,2001-11-22 10:46:01
26,KON012,88305,692200049,6922-49,KON012,None,448364.32,5803638.97,54,-37.913326,...,None,None,None,None,None,None,OPS$HAAAU,1996-06-04 10:22:39,GALDS,2001-11-21 17:06:25
27,KON012,88305,692200049,6922-49,KON012,None,448364.32,5803638.97,54,-37.913326,...,None,None,None,None,None,None,OPS$HAAAU,1996-06-04 10:22:39,GALDS,2001-11-21 17:07:42
28,KON012,88305,692200049,6922-49,KON012,None,448364.32,5803638.97,54,-37.913326,...,None,None,None,None,None,None,OPS$HAAAU,1996-06-04 10:22:39,GALDS,2001-11-21 17:09:11
29,KON012,88305,692200049,6922-49,KON012,None,448364.32,5803638.97,54,-37.913326,...,None,None,None,None,None,None,OPS$HAAAU,1996-06-04 10:22:39,GALDS,2001-11-21 17:10:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12636,RIV066,238731,692304516,6923-4516,RIV066,BEACHPORT TWS 5,412265.62,5851549.51,54,-37.478789,...,None,None,None,None,None,None,GASRB,2011-09-20 15:49:43,None,NaT
12637,RIV066,238731,692304516,6923-4516,RIV066,BEACHPORT TWS 5,412265.62,5851549.51,54,-37.478789,...,None,None,None,None,None,None,GASRB,2011-09-20 15:49:43,None,NaT
12638,RIV066,238731,692304516,6923-4516,RIV066,BEACHPORT TWS 5,412265.62,5851549.51,54,-37.478789,...,None,None,None,None,None,None,GASRB,2011-09-20 15:49:43,None,NaT
12639,RIV066,238731,692304516,6923-4516,RIV066,BEACHPORT TWS 5,412265.62,5851549.51,54,-37.478789,...,None,None,None,None,None,None,GASRB,2011-09-20 15:49:43,None,NaT
12640,RIV066,238731,692304516,6923-4516,RIV066,BEACHPORT TWS 5,412265.62,5851549.51,54,-37.478789,...,None,None,None,None,None,None,GASRB,2011-09-20 15:49:43,None,NaT
12641,RIV066,238731,692304516,6923-4516,RIV066,BEACHPORT TWS 5,412265.62,5851549.51,54,-37.478789,...,None,None,None,None,None,None,GASRB,2011-09-20 15:49:43,None,NaT
12642,CAR077,239847,702210491,7022-10491,CAR077,IWRM 07,491988.58,5799206.30,54,-37.954708,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:07:08,None,NaT
12643,CAR077,239847,702210491,7022-10491,CAR077,IWRM 07,491988.58,5799206.30,54,-37.954708,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:11:22,None,NaT
12644,CAR077,239847,702210491,7022-10491,CAR077,IWRM 07,491988.58,5799206.30,54,-37.954708,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:11:22,None,NaT
12645,CAR077,239847,702210491,7022-10491,CAR077,IWRM 07,491988.58,5799206.30,54,-37.954708,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:11:22,None,NaT
12646,CAR077,239847,702210491,7022-10491,CAR077,IWRM 07,491988.58,5799206.30,54,-37.954708,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:11:22,None,NaT
12647,CAR077,239847,702210491,7022-10491,CAR077,IWRM 07,491988.58,5799206.30,54,-37.954708,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:11:22,None,NaT
12648,CAR077,239847,702210491,7022-10491,CAR077,IWRM 07,491988.58,5799206.30,54,-37.954708,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:11:22,None,NaT
12649,CAR077,239847,702210491,7022-10491,CAR077,IWRM 07,491988.58,5799206.30,54,-37.954708,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:11:22,None,NaT
12650,CAR077,239847,702210491,7022-10491,CAR077,IWRM 07,491988.58,5799206.30,54,-37.954708,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:11:22,None,NaT
12651,CAR077,239847,702210491,7022-10491,CAR077,IWRM 07,491988.58,5799206.30,54,-37.954708,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:11:22,None,NaT
12652,MTM075,239848,692204603,6922-4603,MTM075,IWRM 08,445692.60,5848193.44,54,-37.511609,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:12:40,None,NaT
12653,MTM075,239848,692204603,6922-4603,MTM075,IWRM 08,445692.60,5848193.44,54,-37.511609,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:14:56,None,NaT
12654,MTM075,239848,692204603,6922-4603,MTM075,IWRM 08,445692.60,5848193.44,54,-37.511609,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:14:56,None,NaT
12655,MTM075,239848,692204603,6922-4603,MTM075,IWRM 08,445692.60,5848193.44,54,-37.511609,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:14:56,None,NaT
12656,MTM075,239848,692204603,6922-4603,MTM075,IWRM 08,445692.60,5848193.44,54,-37.511609,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:14:56,None,NaT
12657,MTM075,239848,692204603,6922-4603,MTM075,IWRM 08,445692.60,5848193.44,54,-37.511609,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:14:56,None,NaT
12658,MTM075,239848,692204603,6922-4603,MTM075,IWRM 08,445692.60,5848193.44,54,-37.511609,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:14:56,None,NaT
12659,MTM075,239848,692204603,6922-4603,MTM075,IWRM 08,445692.60,5848193.44,54,-37.511609,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:14:56,None,NaT
12660,MTM075,239848,692204603,6922-4603,MTM075,IWRM 08,445692.60,5848193.44,54,-37.511609,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:14:56,None,NaT
12661,MTM075,239848,692204603,6922-4603,MTM075,IWRM 08,445692.60,5848193.44,54,-37.511609,...,None,None,None,None,None,None,GAJLA,2008-11-20 11:14:56,None,NaT
12662,KLN012,247429,702307041,7023-7041,KLN012,REPLACES KLN 4,466406.72,5879936.00,54,-37.226478,...,None,None,None,None,None,None,GAJLA,2009-07-21 13:25:29,None,NaT
12663,KLN012,247429,702307041,7023-7041,KLN012,REPLACES KLN 4,466406.72,5879936.00,54,-37.226478,...,None,None,None,None,None,None,GAJLA,2009-07-21 13:25:29,None,NaT
12664,CLS047,247430,702307044,7023-7044,CLS047,REPLACES CLS 7,461858.63,5876797.47,54,-37.254594,...,None,None,None,None,None,None,GAJLA,2009-07-21 13:43:08,None,NaT
12665,CLS047,247430,702307044,7023-7044,CLS047,REPLACES CLS 7,461858.63,5876797.47,54,-37.254594,...,None,None,None,None,None,None,GAJLA,2009-07-21 13:43:08,None,NaT

In [11]:
df.pipe(gd.cleanup_columns).dropna(how="all", axis=1)

,well_id,sample_no,collected_date,sample_temp,sample_type,series_type,anomalous_ind,test_place,extract_method,measured_during,collected_by,data_source,chem_code,chem_name,value,unit,created_by,creation_date,modified_by,modified_date
0,LKG013,91147,1971-07-09,NaN,W,T,N,L,None,U,None,DEWNR,Ca,Calcium,37.0000,mg/L,DHDB,1994-09-23 19:29:16,GALDS,2001-11-21 17:15:04
1,LKG013,91147,1971-07-09,NaN,W,T,N,L,None,U,None,DEWNR,Cl,Chloride,125.0000,mg/L,DHDB,1994-09-23 19:29:17,GALDS,2001-11-21 17:08:39
2,LKG013,91147,1971-07-09,NaN,W,T,N,L,None,U,None,DEWNR,HARD,Total Hardness as CaCO3,265.0000,mg/L,DHDB,1994-09-23 19:29:17,GALDS,2001-11-22 10:38:04
3,LKG013,91147,1971-07-09,NaN,W,T,N,L,None,U,None,DEWNR,HCO3,Bicarbonate,295.0000,mg/L,DHDB,1994-09-23 19:29:17,GALDS,2001-11-21 17:06:06
4,LKG013,91147,1971-07-09,NaN,W,T,N,L,None,U,None,DEWNR,K,Potassium,14.0000,mg/L,DHDB,1994-09-23 19:29:17,GALDS,2001-11-21 17:20:43
5,LKG013,91147,1971-07-09,NaN,W,T,N,L,None,U,None,DEWNR,Mg,Magnesium,42.0000,mg/L,DHDB,1994-09-23 19:29:17,GALDS,2001-11-21 17:17:20
6,LKG013,91147,1971-07-09,NaN,W,T,N,L,None,U,None,DEWNR,Na,Sodium,71.0000,mg/L,DHDB,1994-09-23 19:29:17,GALDS,2001-11-21 17:19:13
7,LKG013,91147,1971-07-09,NaN,W,T,N,L,None,U,None,DEWNR,SO4,Sulphate,20.0000,mg/L,DHDB,1994-09-23 19:29:17,GALDS,2001-11-21 17:07:13
8,LKG013,91147,1971-07-09,NaN,W,T,N,L,None,U,None,DEWNR,TDS_CALC,Total Dissolved Solids - Calculated,454.0000,mg/L,DHDB,1994-09-23 19:29:17,GALDS,2001-11-22 10:41:00
9,KON014,1685754,1975-07-09,NaN,W,T,N,L,PUMP,U,A ANDERSON,MESA,TDS_CALC,Total Dissolved Solids - Calculated,23618.0000,mg/L,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
10,KON014,1685754,1975-07-09,NaN,W,T,N,L,PUMP,U,A ANDERSON,MESA,Ca,Calcium,328.0000,mg/L,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
11,KON014,1685754,1975-07-09,NaN,W,T,N,L,PUMP,U,A ANDERSON,MESA,Mg,Magnesium,925.0000,mg/L,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
12,KON014,1685754,1975-07-09,NaN,W,T,N,L,PUMP,U,A ANDERSON,MESA,Na,Sodium,7150.0000,mg/L,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
13,KON014,1685754,1975-07-09,NaN,W,T,N,L,PUMP,U,A ANDERSON,MESA,K,Potassium,216.0000,mg/L,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
14,KON014,1685754,1975-07-09,NaN,W,T,N,L,PUMP,U,A ANDERSON,MESA,SO4,Sulphate,2103.0000,mg/L,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
15,KON014,1685754,1975-07-09,NaN,W,T,N,L,PUMP,U,A ANDERSON,MESA,Cl,Chloride,12751.0000,mg/L,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
16,KON014,1685754,1975-07-09,NaN,W,T,N,L,PUMP,U,A ANDERSON,MESA,HARD,Total Hardness as CaCO3,4625.0000,mg/L,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
17,KON014,1685754,1975-07-09,NaN,W,T,N,L,PUMP,U,A ANDERSON,MESA,CARB,Carbonate Hardness as CaCO3,233.0000,mg/L,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
18,KON014,1685754,1975-07-09,NaN,W,T,N,L,PUMP,U,A ANDERSON,MESA,NONCARB,Non-Carbonate Hardness as CaCO3,4393.0000,mg/L,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
19,KON014,1685754,1975-07-09,NaN,W,T,N,L,PUMP,U,A ANDERSON,MESA,ALK,Alkanity as CaCO3,233.0000,mg/L,GAJLA,2009-04-16 15:57:36,GAJLA,2009-04-16 15:59:20
20,KON014,1685754,1975-07-09,NaN,W,T,N,L,PUMP,U,A ANDERSON,MESA,pH,Acidity/Alkalinity,7.3000,pH,GAJLA,2009-04-16 15:59:20,None,NaT
21,KON012,185173,1976-08-10,NaN,W,T,N,L,None,U,D. CLARKE,DEWNR,Ca,Calcium,76.0000,mg/L,OPS$HAAAU,1996-06-04 10:22:37,GALDS,2001-11-21 17:15:47
22,KON012,185173,1976-08-10,NaN,W,T,N,L,None,U,D. CLARKE,DEWNR,Mg,Magnesium,32.0000,mg/L,OPS$HAAAU,1996-06-04 10:22:38,GALDS,2001-11-21 17:17:57
23,KON012,185173,1976-08-10,NaN,W,T,N,L,None,U,D. CLARKE,DEWNR,Na,Sodium,146.0000,mg/L,OPS$HAAAU,1996-06-04 10:22:38,GALDS,2001-11-21 17:19:49
24,KON012,185173,1976-08-10,NaN,W,T,N,L,None,U,D. CLARKE,DEWNR,K,Potassium,6.0000,mg/L,OPS$HAAAU,1996-06-04 10:22:38,GALDS,2001-11-21 17:21:00
25,KON012,185173,1976-08-10,NaN,W,T,N,L,None,U,D. CLARKE,DEWNR,Fe,Iron: Iron Total (water analysis),0.0600,mg/L,OPS$HAAAU,1996-06-04 10:22:38,GALDS,2001-11-22 10:46:01
26,KON012,185173,1976-08-10,NaN,W,T,N,L,None,U,D. CLARKE,DEWNR,HCO3,Bicarbonate,316.0000,mg/L,OPS$HAAAU,1996-06-04 10:22:39,GALDS,2001-11-21 17:06:25
27,KON012,185173,1976-08-10,NaN,W,T,N,L,None,U,D. CLARKE,DEWNR,SO4,Sulphate,45.0000,mg/L,OPS$HAAAU,1996-06-04 10:22:39,GALDS,2001-11-21 17:07:42
28,KON012,185173,1976-08-10,NaN,W,T,N,L,None,U,D. CLARKE,DEWNR,Cl,Chloride,256.0000,mg/L,OPS$HAAAU,1996-06-04 10:22:39,GALDS,2001-11-21 17:09:11
29,KON012,185173,1976-08-10,NaN,W,T,N,L,None,U,D. CLARKE,DEWNR,F,Fluoride,0.5500,mg/L,OPS$HAAAU,1996-06-04 10:22:39,GALDS,2001-11-21 17:10:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12636,RIV066,1851827,2011-02-08,None,W,T,N,L,PUMP,U,None,SA_WATER,Fe,Iron: Iron Total (water analysis),0.3152,mg/L,GASRB,2011-09-20 15:49:43,None,NaT
12637,RIV066,1851827,2011-02-08,None,W,T,N,L,PUMP,U,None,SA_WATER,HCO3,Bicarbonate,405.0000,mg/L,GASRB,2011-09-20 15:49:43,None,NaT
12638,RIV066,1851827,2011-02-08,None,W,T,N,L,PUMP,U,None,SA_WATER,K,Potassium,10.8000,mg/L,GASRB,2011-09-20 15:49:43,None,NaT
12639,RIV066,1851827,2011-02-08,None,W,T,N,L,PUMP,U,None,SA_WATER,Mg,Magnesium,24.4000,mg/L,GASRB,2011-09-20 15:49:43,None,NaT
12640,RIV066,1851827,2011-02-08,None,W,T,N,L,PUMP,U,None,SA_WATER,NO3(N),Nitrate as N,1.0200,mg/L,GASRB,2011-09-20 15:49:43,None,NaT
12641,RIV066,1851827,2011-02-08,None,W,T,N,L,PUMP,U,None,SA_WATER,Na,Sodium,146.0000,mg/L,GASRB,2011-09-20 15:49:43,None,NaT
12642,CAR077,1665584,2007-12-17,None,W,T,N,MG,PUMP,D,C WOOD - NWI,DEWNR,EC,Electroconductivity,948.0000,us/cm,GAJLA,2008-11-20 11:07:08,None,NaT
12643,CAR077,1665585,2008-04-04,None,W,T,N,L,PUMP,D,C WOOD - NWI,DEWNR,TDS,Total Dissolved Solids,542.0000,mg/L,GAJLA,2008-11-20 11:11:22,None,NaT
12644,CAR077,1665585,2008-04-04,None,W,T,N,L,PUMP,D,C WOOD - NWI,DEWNR,Ca,Calcium,69.0000,mg/L,GAJLA,2008-11-20 11:11:22,None,NaT
12645,CAR077,1665585,2008-04-04,None,W,T,N,L,PUMP,D,C WOOD - NWI,DEWNR,Mg,Magnesium,38.0000,mg/L,GAJLA,2008-11-20 11:11:22,None,NaT
12646,CAR077,1665585,2008-04-04,None,W,T,N,L,PUMP,D,C WOOD - NWI,DEWNR,Na,Sodium,68.0000,mg/L,GAJLA,2008-11-20 11:11:22,None,NaT
12647,CAR077,1665585,2008-04-04,None,W,T,N,L,PUMP,D,C WOOD - NWI,DEWNR,K,Potassium,2.0000,mg/L,GAJLA,2008-11-20 11:11:22,None,NaT
12648,CAR077,1665585,2008-04-04,None,W,T,N,L,PUMP,D,C WOOD - NWI,DEWNR,HCO3,Bicarbonate,303.0000,mg/L,GAJLA,2008-11-20 11:11:22,None,NaT
12649,CAR077,1665585,2008-04-04,None,W,T,N,L,PUMP,D,C WOOD - NWI,DEWNR,SO4,Sulphate,15.0000,mg/L,GAJLA,2008-11-20 11:11:22,None,NaT
12650,CAR077,1665585,2008-04-04,None,W,T,N,L,PUMP,D,C WOOD - NWI,DEWNR,SiO2,Silicon Dioxide; Silica (reactive) (water anal...,12.0000,mg/L,GAJLA,2008-11-20 11:11:22,None,NaT
12651,CAR077,1665585,2008-04-04,None,W,T,N,L,PUMP,D,C WOOD - NWI,DEWNR,NO3,Nitrate,1.6000,mg/L,GAJLA,2008-11-20 11:11:22,None,NaT
12652,MTM075,1665586,2007-11-14,None,W,T,N,MG,PUMP,D,C WOOD - NWI,DEWNR,EC,Electroconductivity,1213.0000,us/cm,GAJLA,2008-11-20 11:12:40,None,NaT
12653,MTM075,1665587,2008-02-21,None,W,T,N,L,PUMP,F,C WOOD - NWI,DEWNR,TDS,Total Dissolved Solids,892.0000,mg/L,GAJLA,2008-11-20 11:14:56,None,NaT
12654,MTM075,1665587,2008-02-21,None,W,T,N,L,PUMP,F,C WOOD - NWI,DEWNR,Ca,Calcium,105.0000,mg/L,GAJLA,2008-11-20 11:14:56,None,NaT
12655,MTM075,1665587,2008-02-21,None,W,T,N,L,PUMP,F,C WOOD - NWI,DEWNR,Mg,Magnesium,26.0000,mg/L,GAJLA,2008-11-20 11:14:56,None,NaT
12656,MTM075,1665587,2008-02-21,None,W,T,N,L,PUMP,F,C WOOD - NWI,DEWNR,Na,Sodium,104.0000,mg/L,GAJLA,2008-11-20 11:14:56,None,NaT
12657,MTM075,1665587,2008-02-21,None,W,T,N,L,PUMP,F,C WOOD - NWI,DEWNR,K,Potassium,3.0000,mg/L,GAJLA,2008-11-20 11:14:56,None,NaT
12658,MTM075,1665587,2008-02-21,None,W,T,N,L,PUMP,F,C WOOD - NWI,DEWNR,HCO3,Bicarbonate,378.0000,mg/L,GAJLA,2008-11-20 11:14:56,None,NaT
12659,MTM075,1665587,2008-02-21,None,W,T,N,L,PUMP,F,C WOOD - NWI,DEWNR,SO4,Sulphate,46.0000,mg/L,GAJLA,2008-11-20 11:14:56,None,NaT
12660,MTM075,1665587,2008-02-21,None,W,T,N,L,PUMP,F,C WOOD - NWI,DEWNR,SiO2,Silicon Dioxide; Silica (reactive) (water anal...,25.8000,mg/L,GAJLA,2008-11-20 11:14:56,None,NaT
12661,MTM075,1665587,2008-02-21,None,W,T,N,L,PUMP,F,C WOOD - NWI,DEWNR,NO3,Nitrate,1.2900,mg/L,GAJLA,2008-11-20 11:14:56,None,NaT
12662,KLN012,1690942,2009-04-30,None,W,T,N,MG,UKN,D,DRILLER STEVE CALLISS,DEWNR,NO3(N),Nitrate as N,5.4200,mg/L,GAJLA,2009-07-21 13:25:29,None,NaT
12663,KLN012,1690942,2009-04-30,None,W,T,N,MG,UKN,D,DRILLER STEVE CALLISS,DEWNR,NO3,Nitrate,24.0000,mg/L,GAJLA,2009-07-21 13:25:29,None,NaT
12664,CLS047,1690949,2009-04-23,None,W,T,N,L,PUMP,D,DRILLER STEVE CALLISS,DEWNR,NO3(N),Nitrate as N,0.2200,mg/L,GAJLA,2009-07-21 13:43:08,None,NaT
12665,CLS047,1690949,2009-04-23,None,W,T,N,L,PUMP,D,DRILLER STEVE CALLISS,DEWNR,NO3,Nitrate,1.0000,mg/L,GAJLA,2009-07-21 13:43:08,None,NaT

## Analysis method details

In [3]:
df = db.query(
    """
select * from dhdb.sm_chem_method_vw
"""
).fillna("")
df.head()

,chem_method_no,mnemonic,laboratory_code,chem_method_desc,digestion_code,determination_code,sample_weight_gm,date_start,date_end,created_by,creation_date
0,3,100,GENERIC,100,,,,,,DHDB,2000-12-31
1,4,101,GENERIC,101,,,,,,DHDB,2000-12-31
2,5,102,GENERIC,102,,,,,,DHDB,2000-12-31
3,6,103,GENERIC,103,,,,,,DHDB,2000-12-31
4,7,104,GENERIC,104,,,,,,DHDB,2000-12-31

You can ignore date_start and date_end, there are almost no non-null entries.

## Detection limits and precision for combination of analysis method and analyte

In [4]:
df = db.query("select * from dhdb.sm_chem_meth_chem_vw").fillna("")
df.head()

,chem_method_no,chem_code,ldl_ppm,udl_ppm,precision_ppm,created_by,creation_date,modified_by,modified_date
0,792,Au,0.001,,0.001,RGGWJ,2006-05-11 14:29:51,,
1,642,As,10,,1,RGGWJ,2006-05-11 14:30:57,,
2,642,Cu,1,,1,RGGWJ,2006-05-11 14:30:57,,
3,971,Ag,0.0001,,0.0001,RGGWJ,2006-08-21 10:29:41,,
4,971,As,0.001,,0.001,RGGWJ,2006-08-21 10:29:41,,

In [5]:
df.groupby("chem_method_no").chem_code.nunique().sort_values(ascending=False).head()

chem_method_no
1121    61
1259    52
1396    51
1017    51
1089    51
Name: chem_code, dtype: int64

In [6]:
df[df.chem_method_no == 1121].head()

,chem_method_no,chem_code,ldl_ppm,udl_ppm,precision_ppm,created_by,creation_date,modified_by,modified_date
678,1121,Au,0.001,,,BILST,2011-04-28 10:08:32,,
679,1121,Pt,0.005,,,BILST,2011-04-28 10:08:32,,
680,1121,Pd,0.001,,,BILST,2011-04-28 10:08:32,,
681,1121,Ag,0.01,,,BILST,2011-04-28 10:08:32,,
682,1121,Al,100,,,BILST,2011-04-28 10:08:32,,

## Analyte details

In [7]:
df = db.query("select * from dhdb.sm_chem_vw").fillna("")
df.head()

,chem_code,chem_name,major_order_no,water_order_group,water_order_no,water_standard_unit_code,negative_value_allowed_flag,crustal_abundance_max,crustal_abundance_unit_code,greater_than_100_pcnt_flag,created_by,creation_date
0,Al2O3,Alumina,3,O,87,mg/L,N,17.8,%,N,DHDB,2000-12-31
1,TiO2,Titanium Oxide,2,O,,mg/L,N,1.52,%,N,DHDB,2000-12-31
2,FeO,Ferric Oxide,5,O,,mg/L,N,10.8,%,N,DHDB,2000-12-31
3,Na2O,Sodium Oxide,9,O,,mg/L,N,4.5,%,N,DHDB,2000-12-31
4,P2O5,Phosphorus Oxide,11,O,,mg/L,N,0.28,ppm,N,DHDB,2000-12-31

In [8]:
df

,chem_code,chem_name,major_order_no,water_order_group,water_order_no,water_standard_unit_code,negative_value_allowed_flag,crustal_abundance_max,crustal_abundance_unit_code,greater_than_100_pcnt_flag,created_by,creation_date
0,Al2O3,Alumina,3,O,87,mg/L,N,17.8,%,N,DHDB,2000-12-31 00:00:00
1,TiO2,Titanium Oxide,2,O,,mg/L,N,1.52,%,N,DHDB,2000-12-31 00:00:00
2,FeO,Ferric Oxide,5,O,,mg/L,N,10.8,%,N,DHDB,2000-12-31 00:00:00
3,Na2O,Sodium Oxide,9,O,,mg/L,N,4.5,%,N,DHDB,2000-12-31 00:00:00
4,P2O5,Phosphorus Oxide,11,O,,mg/L,N,0.28,ppm,N,DHDB,2000-12-31 00:00:00
5,H2O_plus,H2O_plus,12,O,,%,N,,,N,DHDB,2000-12-31 00:00:00
6,H2O_minus,H2O_minus,13,O,,%,N,,,N,DHDB,2000-12-31 00:00:00
7,CO2,Carbon Dioxide: Free Carbon Dioxide (water ana...,14,O,78,mg/L,N,,,N,DHDB,2000-12-31 00:00:00
8,LOI,Loss on Ignition,15,O,,ppm,Y,,,N,DHDB,2000-12-31 00:00:00
9,Ag,Silver,,O,1,mg/L,N,1,ppm,N,DHDB,2000-12-31 00:00:00
10,Al,Aluminium,,O,2,mg/L,N,17.8,%,N,DHDB,2000-12-31 00:00:00
11,As,Arsenic,,O,4,mg/L,N,2.5,ppm,N,DHDB,2000-12-31 00:00:00
12,B,Boron,,O,6,mg/L,N,100,ppm,N,DHDB,2000-12-31 00:00:00
13,Ba,Barium,,O,7,mg/L,N,700,ppm,N,DHDB,2000-12-31 00:00:00
14,Bi,Bismuth,,O,9,mg/L,N,0.18,ppm,N,DHDB,2000-12-31 00:00:00
15,Br,Bromide,,S,10,mg/L,N,6.2,ppm,N,DHDB,2000-12-31 00:00:00
16,C,Carbon,,O,11,mg/L,N,,,N,DHDB,2000-12-31 00:00:00
17,Cd,Cadmium,,O,12,mg/L,N,0.2,ppm,N,DHDB,2000-12-31 00:00:00
18,Cl,Chloride,,S,5,mg/L,N,180,ppm,N,DHDB,2000-12-31 00:00:00
19,Co,Cobalt,,O,15,mg/L,N,150,ppm,N,DHDB,2000-12-31 00:00:00
20,Cs,Caesium,,O,17,mg/L,N,3,ppm,N,DHDB,2000-12-31 00:00:00
21,Dy,Dysprosium,,O,19,mg/L,N,5,ppm,N,DHDB,2000-12-31 00:00:00
22,Pm,Promethium,,,,,N,,,N,DHDB,2000-12-31 00:00:00
23,Nb2O5,Nb2O5,,,,,N,,,N,DHDB,2000-12-31 00:00:00
24,Ta2O5,Ta2O5,,,,,N,,,N,DHDB,2000-12-31 00:00:00
25,ThO2,ThO2,,,,,N,,,N,DHDB,2000-12-31 00:00:00
26,V2O5,Vanadium (V) oxide,,,,,N,,,N,DHDB,2000-12-31 00:00:00
27,WO3,WO3,,,,,N,,,N,DHDB,2000-12-31 00:00:00
28,pH,Acidity/Alkalinity,,S,2,pH,N,,,N,DHDB,2000-12-31 00:00:00
29,EC,Electroconductivity,,S,1,us/cm,N,,,N,DHDB,2000-12-31 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
373,38Ar,Argon-38 isotope,,,,,Y,,,N,MICH2009,2018-03-06 11:37:06
374,40Ar,Argon-40 isotope,,,,,Y,,,N,MICH2009,2018-03-06 11:37:06
375,40Ar*,Argon-40* isotope (*Radiogenic),,,,,N,,,Y,MICH2009,2018-03-06 11:40:05
376,39ArK,Argon-39 isotope derived from Potassium,,,,,N,,,N,MICH2009,2018-03-06 11:40:05
377,36Ar/39Ar,Argon-36/Argon-40 isotope ratio,,,,,N,,,N,MICH2009,2018-03-06 11:40:05
378,K/Ca,Ratio of Potassium to Calcium,,,,,Y,,,N,MICH2009,2018-03-06 11:40:05
379,37Ar/39Ar,Argon-37/Argon-39 isotope ratio,,,,,N,,,N,MICH2009,2018-03-06 11:40:05
380,38Ar/39Ar,Argon-38/Argon-39 isotope ratio,,,,,N,,,N,MICH2009,2018-03-06 11:40:05
381,40Ar/39Ar,Argon-40/Argon-39 isotope ratio,,,,,N,,,N,MICH2009,2018-03-06 11:40:05
382,40Ar*/39Ar,Argon-40*/Argon-39 isotope ratio (*Radiogenic),,,,,N,,,N,MICH2009,2018-03-06 11:40:05
383,JVALUE,"J = neutron flux parameter, 40Ar/39Ar age dete...",,,,,N,,,N,MICH2009,2018-03-06 13:54:43
384,LASERPOWER,Instrument laser power,,,,,N,,,N,MICH2009,2018-03-06 13:55:05
385,39Ar,Argon-39 isotope,,,,,Y,,,N,MICH2009,2018-03-06 20:37:09
386,CuS,Copper sulfide,,,,,N,100,ppm,N,BILST,2020-02-21 14:55:17
387,N,Nitrogen,,,,,N,,,N,BUXTOP20,2014-07-30 15:25:39
388,DC14,Carbon 14 (isotope) normalised,,I,,pmc,Y,,,N,GALDS,2015-03-19 08:21:57
389,DC14err,Carbon 14 (isotope) normalised - error component,,I,,pmc,N,,,N,GALDS,2015-03-19 08:21:57
390,PMC,Percent Modern Carbon,,I,,%,N,,,Y,GALDS,2015-03-19 10:41:26
391,PMCerr,Percent Modern Carbon error,,I,,%,N,,,N,GALDS,2015-03-19 10:41:26
392,DC14age,conventional radiocarbon age (uncorrected),,I,,yr,Y,,,N,GALDS,2015-03-19 10:50:30
393,DC14age_err,conventional radiocarbon age (uncorrected) err...,,I,,yr,N,,,N,GALDS,2015-03-19 10:50:30
394,S34,Sulphur 34 isotope,,I,,pm,N,,,N,GALDS,2015-03-19 13:22:53
395,207Pb/206Pb,207Pb/206Pb,,,,,N,,,N,MICH2009,2018-02-27 12:27:06
396,206Pb/238U,206Pb/238U,,,,,N,,,N,MICH2009,2018-02-27 12:27:06
397,207Pb/235U,207Pb/235U,,,,,N,,,N,MICH2009,2018-02-27 12:27:06
398,Discordance,Discordance,,,,,Y,,,Y,MICH2009,2018-02-27 12:27:06
399,TCE,Trichloroethene,,R,,ug/L,N,,,N,GASRB,2019-07-12 10:49:01
400,PCE,Perchloroethylene,,R,,ug/L,N,,,N,GASRB,2019-07-12 10:50:28
401,Fe3O4,Iron Oxide,,,,,N,,,N,BILST,2020-03-05 11:18:59
402,Ca/K,Ratio of Calcium to Potassium,,,,,N,,,N,MICH2009,2020-03-13 13:42:13

In [9]:
df2 = db.query("select chem_code, chem_name from dhdb.sm_chem_vw")

In [10]:
df2 = df2.sort_values("chem_code")

In [11]:
df2[df2.chem_code.str.startswith("C")]

      chem_code                              chem_name
79            C                                 Carbon
80          C13                    Carbon 13 (isotope)
81          C14                    Carbon 14 (isotope)
82       C14err  Carbon 14 (isotope) - error component
87         CARB            Carbonate Hardness as CaCO3
..          ...                                    ...
113          Cu                                 Copper
115        Cu63                      Copper 63 isotope
116         CuS                         Copper sulfide
114      Cu_sol                       Copper - soluble
120  Cyclotella                    Cyclotella (Diatom)

[63 rows x 2 columns]

## Analysis results

In [12]:
wells = db.wells_in_groups(["BAROSSA"])
dh_nos = "(" + ",".join([str(d) for d in wells.dh_no][:]) + ")"

In [14]:
all_dh_nos = db.drillholes_all().dh_no

In [22]:
dh_nos = "(" + ",".join([str(d) for d in all_dh_nos]) + ")"

In [23]:
chem_sql = f"""
SELECT          dh.drillhole_no AS dh_no, 
                dh.unit_no      AS unit_long, 
                To_char(dh.map_100000_no) 
                                || '-' 
                                || To_char(dh.dh_seq_no) AS unit_hyphen, 
                Trim(To_char(dh.obs_well_plan_code)) 
                                || Trim(To_char(dh.obs_well_seq_no, '000')) AS obs_no, 
                dh.dh_name, 
                dh.amg_easting      AS easting, 
                dh.amg_northing     AS northing, 
                dh.amg_zone         AS zone, 
                dh.neg_lat_deg_real AS latitude, 
                dh.long_deg_real    AS longitude, 
                summ.aq_subaq       AS aquifer, 
                ar.sample_no, 
                s.collected_date, 
                s.temperature AS sample_temp, 
                ar.sample_type, 
                s.series_type, 
                s.anomalous_ind, 
                s.test_place_code  AS test_place, 
                s.extr_method_code AS extract_method, 
                s.measured_during, 
                s.collected_by, 
                s.collected_by_company AS collected_company, 
                s.data_source_code     AS data_source, 
                ar.sample_analysis_no, 
                ar.chem_code            AS chem_code, 
                ard.chem_name           AS chem_name, 
                ar.chem_value           AS value, 
                ar.chem_unit_code       AS unit, 
                meth.mnemonic           AS analysis_method_code, 
                meth.laboratory_code    AS lab, 
                meth.chem_method_desc   AS analysis_method, 
                meth.digestion_code     AS digestion, 
                meth.determination_code AS determination, 
                lims.ldl_ppm            AS lower_dl_ppm, 
                lims.udl_ppm            AS upper_dl_ppm, 
                lims.precision_ppm      AS precision_ppm, 
                ar.microanalysis_no, 
                ar.created_by, 
                ar.creation_date, 
                ar.modified_by, 
                ar.modified_date 
FROM            dhdb.sm_analysis_result_vw ar 
left outer join dhdb.sm_sample_vw s 
ON              ar.sample_no = s.sample_no 
left outer join dhdb.sm_chem_method_vw meth 
ON              ar.chem_method_no = meth.chem_method_no 
left outer join dhdb.sm_chem_vw ard 
ON              ar.chem_code = ard.chem_code 
left outer join dhdb.sm_chem_meth_chem_vw lims 
ON              ar.chem_method_no = lims.chem_method_no 
AND             ar.chem_code = lims.chem_code 
left outer join dhdb.dd_drillhole_vw dh 
ON              s.drillhole_no = dh.drillhole_no 
inner join      dhdb.dd_drillhole_summary_vw summ 
ON              dh.drillhole_no = summ.drillhole_no 
"""

In [ ]:
# df = db.query(chem_sql + 'WHERE dh.drillhole_no IN {dh_nos}')
df = db.query(
    chem_sql + f"WHERE ar.chem_code = 'CFC11' AND dh.drillhole_no in {dh_nos}"
)

In [ ]:
df.pipe(gd.cleanup_columns).dropna(how="all", axis="columns")